*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #F5F5F5;
}
.header {
    height: 1040px;
    /* width: 1440px; */
    display: grid;
}
.hdr {
    height: 1040px;
    /* width: 1440px; */
    display: grid;
    justify-content: center;
}
.open {    
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open1 { 
    width: 1200px;
    height: 29px;
    border: solid 1px black;
    display: flex;
    align-items: center; 
}
.text {
    font-size: 17px;
    color: #1C2752;
    text-align: center;
    margin-left: 120px;
}
.logo {
    display: grid;
    margin-left: 567px;
    
}
.obsh1 {    
    height: 128px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.blClr {
    width: 1200px;
    height: 128px;
    justify-content: center;
    border: solid 1px black;
}
.obsh2 {    
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.nadpici {
    width: 1200px;
    height: 88px;
    align-items: center;
    font-size: 19px;
    background-color: #FFB342;
}
.fotoStr {
    display: flex;
    height: 813px;
    justify-content: center;
}   
.fotocentre {
    display: grid;
    height: 813px;
    width: 1440px;
    background-image: url(/img/centr.png);
    justify-content: center;
}
.vnutriFTStr {
    height: 332.98px;
    width: 720px;
    border: solid 1px rgb(241, 240, 240);
    left: 120px;
    top: 260px;
}
.main1 {
    justify-content: center;
    display: flex;
}
.wePro {
    background-color: #FFFFFF;
    height: 861px;
    display: flex;
    align-items: center;
}
.wePro1 {
    height: 581px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px;
    column-gap: 1%;
}
.fotoStr {
    height: 581px;
    width: 575px;
}
.sborText {
    display: grid;
    width: 575px;
    height: 559px;
}
.sborText1 {
    display: grid;
    width: 575px;
    height: 299px;
}
.fotoSborText {
    width: 249px;
    height: 27px;
    display: flex;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: space-evenly;
}
.welcom {
    font-size: 18;
    color: #1C2752;
}
.we {
    display: flex;
    font-size: 45;
    color: #1C2752;
}
.biueCollar {
    font-size: 18;
    color: #7E7E7E;
}
.textWeHave {
    font-size: 17;
    color: #7E7E7E;
}
.foto35 { 
    display: grid;
    width: 575px;
    height: 240px;
    grid-template-columns: 198px 337px;
    column-gap: 3px;
}
.fot35 {
    display: grid;
    width: 198px;
    height: 220px;
    background-color: #F4F4F4;
    justify-items: center;
    grid-template-rows: 24px 88px 16px 52px 40px;
}
.ft35 {
    display: grid;
    height: 88px;
    width: 97px;
    font-size: 80px;
    color: #FFB342;
    justify-content: center;
    align-items: center;
}
.eyarText {
    display: grid;
    height: 52px;
    width: 112px;
    font-size: 20;
    color: #1C2752;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(21, 10, 10);
}
.textDrugoy {
    width: 337.33px;
    height: 185px;
    margin: 27px;
    grid-template: repeat(5,27px)/295px;
    row-gap: 0%;
}
.txtFT35 {
    display: flex;
    align-items: center;
    height: 27px;
    width: 295px;
    font-size: 17;
    color: #7E7E7E;
    padding: 5px;
}
.mn2 {
    display: grid;
    height: 900px;
    background-color: #FFB342;
    justify-items: center;
}
.wwo2 {
    display: grid;
    height: 469px;
}
.wwo3 {
    height: 140px;
    display: flex;
}
.wWo {
    display: grid;
    justify-content: center;
}
.wwo {
    display: grid;
    height: 181px;
    width: 840px;
    justify-items: center;
    gap: 10px;
}
.wwo1 {
    display: flex;
    height: 27px;
    width: 207px;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin: 10px;
}
.pms {
    display: flex;
    height: 59px;
    width: 603px;
    font-size: 45;
    color: #1C2752;
    align-items: center;
    justify-content: center;
}
.weHave {
    display: flex;
    height: 54px;
    width: 832px;
    font-size: 18;
    color: #1C2752;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.knopki {
    margin: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: 249px 236px 219px;
    gap: 30px;
    height: 68px;
}
.commercial {
    display: grid;
    height: 68px;
    width: 249px;
    font-size: 20px;
    color: #222222;
    align-items: center;
    justify-content: center;
    grid-template-columns: 36px 121px;
    gap: 10px;
    background-color: #FFFFFF;
}
.residential {
    display: grid;
    height: 68px;
    width: 236px;
    font-size: 20px;
    color: #222222;
    border: solid 1px #222222;
    align-items: center;
    justify-content: center;
    grid-template-columns: 34px 110px;
    gap: 10px;
}
.industrial {
    display: grid;
    height: 68px;
    width: 219px;
    font-size: 20px;
    color: #222222;
    border: solid 1px #222222;
    align-items: center;
    justify-content: center;
    grid-template-columns: 34px 93px;
    gap: 10px;
}
.cmrc {
    display: grid;
    width: 1160px;
    height: 528px;
    background-color: #FFFFFF;
}   
.textCrmc {
    display: grid;
    height: 408px;
    width: 1040px;
    gap: 0%;
}
.textCmrc1 {
    display: flex;
    height: 408px;
    width: 1040px;
    align-items: center;
    margin: 60px;
}
.textCmrc2 {
    display: grid;
    height: 408px;
    width: 624px;
    row-gap: 0%;
}
.pust {
    display: grid;
    height: 10px;
    width: 259px;
}
.ei {
    display: flex;
    gap: 10px;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 259px;
}
.logoEi {
    display: flex;
}
.textEi {
    font-size: 18;
    color: #1C2752;
    align-items: center;
}
.commercial {
    display: grid;
    height: 59px;
    width: 265px;
    justify-content: start;
    align-items: center;
}
.tex1 {
    font-size: 45;
    color: #1C2752;
}
.elekt {
    display: flex;
    height: 81px;
    width: 507px;
    align-items: center;
}
.inAdd {
    display: flex;
    width: 549px;
    height: 81px;
    align-items: center;
}
.tex {
    font-size: 17;
    color: #7E7E7E;
}
.pust4 {
    display: flex;
    height: 45px;
    width: 50px;
    border: solid 1px #FFFFFF;
}
.readMore {
    background-color: #FFB342;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    width: 190px;
}
.mn3 {
    display: flex;
    height: 1397px;
    justify-content: center;
}
.ourSe {
    display: grid;
    height: 1397px;
    justify-content: center;
}
.pust1 {
    height: 200px;
    width: 1200px;
    display: flex;
}
.ourSer {
    display: grid;
    width: 1200px;
    height: 1017px;
    justify-items: center;
    grid-row: 0%;
}
.ourSer2 {
    display: grid;
    width: 840px;
    height: 181px;
    justify-items: center;
    grid-row: 0px;
}
.ourServ {
    display: flex;
    height: 27px;
    width: 213px;
    background-color: #FFFFFF;
    gap: 10px;
    justify-content: center;
}
.logoOS {
    display: flex;
    width: 14px;
    height: 17.18px;
    background-image: url(/img/aos02.png);
}
.aos {
    display: flex;
    font-size: 18;
    color: #1C2752;
    align-items: center;
}
.os {
    display: grid;
    font-size: 45;
    color: #1C2752;
    align-items: center;
    height: 59px;
    width: 285px;
    justify-content: center;
}
.weoffers {
    display: flex;
    font-size: 18;
    color: #7E7E7E;
    align-items: center;
    justify-items: center;
    height: 54px;
    width: 819px;
}
.ourSer3 {
    display: grid;
    height: 786px;
    width: 1200px;
    grid-template: repeat(3,380px)/repeat(3,378px);
    row-gap: 30px;
    column-gap: 30px;
}
.box {
    display: grid;
    width: 380px;
    height: 378px;
    background-color: #1C2752;
}
.box1 {
    display: grid;
    width: 380px;
    height: 378px;
    padding: 35px;
    align-items: center;
    grid-template-rows: 75px 38px 108px 27px;
    row-gap: 15px;
}
.logoAIS {
    display: flex;
    height: 75px;
    width: 48px;
    align-items: center;
}
.airCon {
    display: flex;
    font-size: 25px;
    color: #FFB342;
    align-items: center;
    height: 38px;
    width: 268px;
}
.services {
    display: flex;
    font-size: 18px;
    color: #D2D2D2;
    align-items: center;
    width: 299px;
    height: 108px;
}
.view1 {
    display: flex;
    align-items: center;
    width: 96px;
    height: 27px;
}
.vie {
    font-size: 18px;
    color: #FFFFFF;
}
.mn4 {
    display: flex;
    height: 848px;
    justify-content: center;
}
.whyChoose {
    display: flex;
    height: 848px;
    justify-content: center;
    background-color: #FFFFFF;
}
.ppbh {
    display: grid;
    height: 848px;
    width: 720px;
    justify-content: center;
    background-image: url(/img/ppbh.png);
}
.vnPPBH {
    display: flex;
    height: 688px;
    width: 560px;
    margin: 80px;
    align-items: center;
}
.vnPPBH1 {
    display: grid;
    height: 568px;
    width: 560px;
    background-color: #1C2752;
    justify-content: center;
    align-items: center;
    opacity: 86%;
}
.vnPPBH2 {
    display: grid;
    height: 344px;
    width: 400px;
    grid-template: repeat(4,67px)/110px 290px;
    row-gap: 25px;
}
.box2 {
    display: flex;
    background-color: #FFB342;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #1C2752;
}
.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    width: 290px;
    border: solid 1px #FFFFFF; 
    font-size: 25px;
    color: #FFFFFF;
}
.whyCh {
    display: grid;
    height: 848px;
    width: 720px;
    justify-content: center;
}
.whyCh2 {
    display: grid;
    width: 590px;
    height: 266px;
}
.ourServ1 {
    display: flex;
    height: 27px;
    width: 213px;
    background-color: #F4F4F4;
    gap: 10px;
    justify-content: center;
}
.fewRWY {
    display: flex;
    align-items: center;
    height: 117px;
    width: 506px;
    font-size: 45px;
    color: #1C2752;
}
.weAreOff {
    display: flex;
    align-items: center;
    height: 81px;
    width: 577px;
    font-size: 17px;
    color: #7E7E7E;
}
.pust6 {
    display: flex;
    height: 93px;
    width: 577px;
    border: solid 1px #FFFFFF;
}
.pust7 {
    display: flex;
    height: 20px;
    width: 577px;
    border: solid 1px #FFFFFF;
}
.excAff35 {
    display: grid;
    grid-template: repeat(3,97px)/52px 469px;
    row-gap: 25px;
}
.box7 {
    display: grid;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: #FFB342;
}
.box9 {
    display: grid;
    height: 28px;
    width: 232px;
    font-size: 20px;
    color: #1C2752;
}
.box10 {
    display: grid;
    height: 54px;
    width: 432px;
    font-size: 17px;
    color: #7E7E7E;
}
.mn5 {
    display: flex;
    height: 981px;
    justify-content: center;
}
.theGalery {
    display: grid;
    height: 981px;
    width: 1440px;
    justify-content: center;
    background-color: #1C2752;
    grid-template-rows: 141px 117px 50px;
    row-gap: 0%;
}
.theGal {
    display: grid;
    width: 1200px;
    height: 117px;
    justify-items: center;
    align-content: space-between;
}
.orp {
    display: flex;
    height: 59px;
    width: 449px;
    font-size: 45px;
    color: #FFFFFF;
}
.fotki {
    display: grid;
    height: 514px;
    width: 1370px;
    grid-template: 477px 514px 477px 477px/repeat(4,320px);
    column-gap: 30px;
}
.box11 {
    display: grid;
    width: 320px;
    height: 477px;
    background-color: #FFFFFF;
    justify-items: center;
}
.box12 {
    display: grid;
    width: 320px;
    height: 514px;
    background-color: #FFFFFF;
    justify-items: center;
}
.fotoORP {
    margin: 21px;
}
.textBox11 {
    display: grid;
    width: 256px;
    height: 38px;
    font-size: 25px;
    color: #1C2752;
    align-items: center;
    justify-items: center;
}
.texBox11 {
    display: flex;
    width: 102px;
    height: 27px;
    font-size: 17px;
    color: #7E7E7E;
    align-items: center;
}
.textBox1101 {
    display: grid;
    width: 221px;
    height: 75px;
    font-size: 25px;
    color: #1C2752;
    align-items: center;
    justify-content: center;
}
.mn6 {
    display: flex;
    height: 1508px;
    justify-content: center;
}
.ourTrust {
    display: grid;
    height: 1508px;
    width: 1440px;
    justify-content: center;
    grid-template-rows: 140px 947px 60px 221px 140px;
    row-gap: 0%;
    background-color: #FFFFFF;
}
.customApp {
    display: flex;
    width: 1200px;
    height: 947px;
    justify-content: center;
    grid-template-columns: 592px 564px;
    column-gap: 45px;
}
.pst {
    display: flex;
}
.testim {
    display: grid;
    width: 592px;
    height: 947px;
    grid-template-rows: 10px 27px 22px 59px 42px 378px 40px 330px 40px;
    row-gap: 0%;
}
.testim2 {
    display: flex;
    height: 27px;
    width: 146px;
    background-color: #F4F4F4;
    gap: 10px;
    justify-content: center;
}
.clients1 {
    display: flex;
    height: 27px;
    width: 174px;
    background-color: #F4F4F4;
    gap: 10px;
    justify-content: center;
}
.custSay {
    display: flex;
    align-items: center;
    font-size: 45px;
    color: #1C2752;
}
.custSay1 {
    display: grid;
    width: 591px;
    height: 808px;
    grid-template-rows: 378px 40px 390px;
    row-gap: 0%;
}
.nansy {
    display: grid;
    width: 591px;
    height: 378px;
    border: solid 1px #DDDDDD;
}
.nansy1 {
    display: grid;
    width: 299px;
    height: 808px;
    grid-template-rows: 98px 1px 20px 108px 23px 50px;
    row-gap: 0%;
    margin: 41px;
}
.nansy2 {
    display: grid;
    width: 121px;
    height: 50px;
    grid-template-columns: 70px 10px 139px 234px 55px;
    column-gap: 0%;
    align-items: start;
}
.textNansy2 {
    display: grid;
    width: 139px;
    height: 77px;
    grid-template-rows: 10px 31px 27px;
    row-gap: 0%;
}
.psto {
    display: grid;
    width: 509px;
    height: 1px;
    border: #DDDDDD solid 1px;
}
.txtNansy02 {
    display: flex;
    font-size: 22px;
    color: #1C2752;
}
.txtNansy03 {
    display: flex;
    font-size: 18px;
    color: #7E7E7E;
}
.textNansy {
    display: flex;
    font-size: 18px;
    color: #7E7E7E;
}
.kovychki {
    display: grid;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #FFB342;
}
.skobki {
    display: grid;
    width: 121px;
    height: 50px;
    grid-template-columns: 50px 21px 50px;
    column-gap: 0%;
}
.skobki1 {
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F4F4F4;
}
.any {
    display: grid;
    width: 591px;
    height: 330px;
    justify-content: center;
    align-items: center;
    background-color: #FFB342;
}
.any1 {
    display: grid;
    width: 511px;
    height: 245px;
    grid-template-rows: 165px 25px 55px;
    row-gap: 0%;
    margin: 40px;
}
.any2 {
    display: grid;
    width: 511px;
    height: 178px;
    grid-template-rows: 30px 27px 21px 33px 13px 54px;
}
.cusSat99 {
    display: flex;
    color: #1C2752;
    font-size: 25px;
    align-items: center;
}
.ifYuoH {
    display: flex;
    height: 54px;
    width: 483px;
    color: #1C2752;
    font-size: 18px;
    align-items: center;
}
.aQuestion {
    display: flex;
    width: 191px;
    height: 27px;
    align-items: center;
    background-color: #F4F4F4;
    justify-content: center;
    gap: 10px;
}
.nomer {
    display: grid;
    height: 55px;
    width: 357px;
    grid-template-columns: 50px 20px 287px;
    column-gap: 0%;
}
.logoNomer {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 100%;
    align-items: center;
}
.pst02 {
    display: flex;
    height: 50px;
    width: 20px;
}
.samNomer {
    display: flex;
    height: 50px;
    width: 287px;
    font-size: 30px;
    color: #FFFFFF;
    align-items: center;
}
.meet {
    display: grid;
    width: 564px;
    height: 947px;
    grid-template-rows: 10px 27px 22px 59px 40px 758px 32px;
    row-gap: 0%;
}
.appForm {
    display: grid;
    width: 564px;
    height: 758px;
    justify-content: center;
    grid-template-rows: 70px 510px 68px 75px;
    row-gap: 25px;
    background-color: #F4F4F4;
}
.vvoddan {
    display: grid;
    height: 510px;
    width: 484px;
    grid-template-rows: repeat(4,65px) 150px;
    row-gap: 25px;
}
.vvod {
    display: flex;
    border: solid 1px #cccccc;
    background-color: #FFFFFF;
    height: 65px;
    width: 484px;
}
.vvod1 {
    display: flex;
    border: solid 1px #cccccc;
    background-color: #FFFFFF;
    height: 150px;
    width: 484px;
}
.vvod0 {
    display: flex;
    height: 65px;
    width: 44px;
}
.vvod2 {
    display: flex;
    height: 150px;
    width: 18px;
}
.vvodText {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #1C2752;
    height: 65px;
    width: 440px;
}
.vvodText1 {
    display: flex;
    font-size: 17px;
    color: #1C2752;
    height: 150px;
    width: 440px;
    margin: 19px;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB342;
    font-size: 17px;
    color: #1C2752;
    height: 68px;
    width: 484px;
}
.clients {
    display: grid;
    width: 1200px;
    height: 221px;
    justify-items: center;
    grid-template-rows: 10px 27px 22px 59px 45px 59px;
    row-gap: 0%;
}
.clients1 {
    display: flex;
    height: 27px;
    width: 134px;
    background-color: #F4F4F4;
    gap: 10px;
    justify-content: center;
}
.ourTBC {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: #1C2752;
}
.bbbc {
    display: flex;
    height: 59px;
    width: 1200px;
    justify-content: space-around;
}
.kbr {
    display: flex;
    align-items: center;
}
/* .lxxl { 
    display: flex;
    rotate: ;
}*/
.mn7 {
    height: 1352px;
    display: flex;
    justify-content: center;
}
.letCats {
    display: grid;
    height: 1352px;
    width: 1440px;
    justify-content: center;
    align-items: center;
}
.letCats1 {
    display: grid;
    height: 1084px;
    width: 1200px;
    justify-content: center;
    grid-template-rows: 195px 40px 663px 62px 124px;
    row-gap: 0%;
    border: #222222 1px solid;
}
.tarif {
    display: grid;
    height: 663px;
    width: 1200px;
    grid-template-columns: repeat(3,380px);
    column-gap: 30px;
    border: #222222 1px solid;
}
.tarif1 {
    display: grid;
    height: 663px;
    width: 380px;
    border: #222222 1px solid;
}
.tarif2 {
    display: grid;
    margin: 40px;
    height: 583px;
    width: 300px;
    grid-template-rows: 111px 1px 29px 309px 55px 68px 10px; 
    row-gap: 0%;
    border: #222222 1px solid;
}
.pstLC {
    display: grid;
    width: 300px;
    height: 1px;
    border: #d7d7d7 1px solid;
}
.tarif2txt {
    display: grid;
    height: 309px;
    width: 300px;
    grid-template: repeat(7,27px) 19px 12px 251px; 
    row-gap: 20px;
}
.tar2txt
