*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #F5F5F5;
}
/* header { 
    justify-content: center;
    display: flex;   
}*/
.open {    
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open1 { 
    width: 1200px;
    height: 29px;
    border: solid 1px black;
    display: flex;
    align-items: center; 
}
.text {
    font-size: 17px;
    color: #1C2752;
    text-align: center;
    margin-left: 120px;
}
.logo {
    display: grid;
    margin-left: 567px;
    
}
.obsh1 {    
    height: 128px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.blClr {
    width: 1200px;
    height: 128px;
    justify-content: center;
    border: solid 1px black;
}
.obsh2 {    
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.nadpici {
    width: 1200px;
    height: 88px;
    align-items: center;
    font-size: 19px;
    background-color: #FFB342;
    top: 128px;
}
.vdol {
    flex-direction: row;
}
.fotoStr {
    display: flex;
    /* background-image: url(/img/centr.png); */
    /* background-repeat: no-repeat; */
    height: 813px;
    justify-content: center;
}   
.qwer {
    height: 813px;
}
.vnutriFTStr {
    height: 332.98px;
    width: 720px;
    border: solid 1px rgb(241, 240, 240);
    left: 120px;
    top: 260px;
}
.main1 {
    /* height: 4987px; */
    justify-content: center;
    display: flex;
}
.wePro {
    background-color: #FFFFFF;
    height: 861px;
    display: flex;
    border: solid 1px rgb(24, 9, 9);
    align-items: center;
}
.wePro1 {
    height: 581px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px;
    border: solid 1px rgb(24, 9, 9);
    column-gap: 1%;
}
.fotoStr {
    height: 581px;
    width: 575px;
    border: solid 1px rgb(24, 9, 9);
}
.sborText {
    display: grid;
    width: 575px;
    height: 559px;
    border: solid 1px rgb(24, 9, 9);
    /* align-content: space-between; */
}
.sborText1 {
    display: grid;
    width: 575px;
    height: 299px;
    border: solid 1px rgb(24, 9, 9);
}
.fotoSborText {
    width: 249px;
    height: 27px;
    display: flex;
    border: solid 1px rgb(24, 9, 9);
    background-color: #F4F4F4;
    align-items: center;
    justify-content: space-evenly;
}
.welcom {
    font-size: 18;
    color: #1C2752;
}
.we {
    display: flex;
    font-size: 45;
    color: #1C2752;
}
.biueCollar {
    font-size: 18;
    color: #7E7E7E;
}
.textWeHave {
    font-size: 17;
    color: #7E7E7E;
}
.foto35 { 
    display: grid;
    width: 575px;
    height: 240px;
    border: solid 1px rgb(24, 9, 9);
    justify-content: space-between;
    column-gap: 1%;
}
.fot35 {
    display: grid;
    width: 198px;
    height: 220px;
    /* padding: 10px; */
    border: solid 1px rgb(24, 9, 9);
    background-color: #F4F4F4;
    justify-content: center;
    margin: 10px;
    left: 0;
}
.ft35 {
    top: 24px;
    height: 88px;
    width: 97px;
    font-size: 80;
    color: #FFB342;
    border: solid 1px rgb(24, 9, 9);
    justify-content: center;
}
.eyarText {
    display: flex;
    top: 128px; 
    height: 52px;
    width: 112px;
    font-size: 20;
    color: #1C2752;
    border: solid 1px rgb(24, 9, 9);
    align-items: center;
    justify-content: center;
}
.textDrugoy {
    width: 337.33px;
    height: 185px;
    font-size: 17;
    color: #7E7E7E;
    border: solid 1px rgb(24, 9, 9);
}
.mn2 {
    display: grid;
    height: 900px;
    background-color: #FFB342;
    justify-content: center;
    border: solid 1px rgb(24, 9, 9);
}
.wWo {
    display: grid;
    gap: 40px;
    height: 289px;
    justify-items: center;
}
.wwo {
    display: grid;
    border: solid 1px rgb(24, 9, 9);
    height: 181px;
    width: 840px;
    /* margin: 140.36px; */
    justify-items: center;
    gap: 10px;
}
.wwo1 {
    display: flex;
    height: 27px;
    width: 207px;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin: 10px;
}
.pms {
    display: flex;
    height: 59px;
    width: 603px;
    font-size: 45;
    color: #1C2752;
    border: solid 1px rgb(24, 9, 9);
    align-items: center;
    justify-content: center;
}
.weHave {
    display: flex;
    height: 54px;
    width: 832px;
    font-size: 18;
    color: #1C2752;
    border: solid 1px rgb(24, 9, 9);
    align-items: center;
    justify-items: center;
}
.knopki {
    display: grid;
    justify-content: center;
    grid-template-columns: 249px 236px 219px;
    gap: 30px;
}
.commercial {
    display: grid;
    height: 68px;
    width: 249px;
    font-size: 20px;
    color: #222222;
    align-items: center;
    justify-content: center;
    grid-template-columns: 36px 121px;
    gap: 10px;
    background-color: #FFFFFF;
}
.residential {
    display: grid;
    height: 68px;
    width: 236px;
    font-size: 20px;
    color: #222222;
    border: solid 1px #222222;
    align-items: center;
    justify-content: center;
    grid-template-columns: 34px 110px;
    gap: 10px;
}
.industrial {
    display: grid;
    height: 68px;
    width: 219px;
    font-size: 20px;
    color: #222222;
    border: solid 1px #222222;
    align-items: center;
    justify-content: center;
    grid-template-columns: 34px 93px;
    gap: 10px;
}
.cmrc {
    display: grid;
    width: 1160px;
    height: 528px;
    border: solid 1px #222222;
    background-color: #FFFFFF;
}